<div class="container-fluid">
    <!-- Content here -->
</div>

<!-- <img src="" alt="Iamge" class="CokeHeader" /> -->
<nav class="navbar navbar-light bg-light m-0 p-3" style="background-color: #d1362e !important;">
    <!-- <div class="container"> -->
        <a class="navbar-brand" href="#" style="display: flex;
        justify-content: center;
        align-items: center;">
            <!-- <img src="" alt="cola" width="30" height="24"> -->
            <h3 style="color: #fff;">CokeOne - Net</h3>
        </a>
    <!-- </div> -->
</nav>