<div class="main-content no-breadcrumb">
    <app-header></app-header>
    <div class="container-fluid vh-80" style="margin: 1% 0 0;">
        <div class="row">
            <div class="col-2" style="height: calc(100vh - 110px);">
                <div class="card">
                    <app-side-menu></app-side-menu>
                </div>
            </div>
            <div class="col-10" style="height: calc(100vh - 110px);">
                <div class="card">
                    <div class="row" style="margin: 2%;">
                        <div class="col-3">
                            <ng-select [items]="bu_list" name="textDesc" bindLabel="label" bindValue="value"
                                placeholder="Select Business Unit" [(ngModel)]="selectedBu" (ngModelChange)="modo()">
                            </ng-select>
                            <p>Selected city: {{selectedBu}}</p>
                        </div>
                        <div class="col-3">

                            <ng-select [items]="site_list" name="textDesc" bindLabel="label" bindValue="value"
                                placeholder="Select Site" [(ngModel)]="selectedSite">
                            </ng-select>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" (click)="open(content)">Add New</button>
                        </div>
                    </div>
                    <div style="margin: 2%;">
                        <!-- <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>
                </div>
            </div>


            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Add New</h4>
                    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="contactForm">

                        <!-- <p> -->
                            <label for="firstname">Club Route ID :</label>
                            <h5>{{site_listt[0]["label"]}}</h5>
                            <!-- <input type="text" id="firstname" name="firstname" formControlName="club_route_id" value="{{site_listt[0]["label"]}}"> -->
                        <!-- </p> -->

                        <p>
                            <label for="lastname">Club Route Description </label>
                            <input type="text" id="lastname" name="lastname" formControlName="club_route_desc">
                        </p>
                        <!-- <p>
                            <button type="submit" >Submit</button>
                        </p> -->

                    </form>
                    <!-- <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

                        <div>
                            <label for="name">
                                Club Route ID
                            </label>
                            <input id="name" type="text" formControlName="name">
                        </div>

                        <div>
                            <label for="address">
                                Club Route Description
                            </label>
                            <input id="address" type="text" formControlName="address">
                        </div>

                        <button class="button" type="submit">Purchase</button>

                    </form> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (ngSubmit)="onSubmit()">Save</button>
                </div>
            </ng-template>


        </div>
    </div>
</div>